<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">

	<title>Title2</title>
	<meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<meta property="og:image" content="path/to/image.jpg">
	<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css" />
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" />

	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#000">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#000">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#000">

</head>

<body>
	<header class="m_header">
		<div class="modal_header_menu">
			<div class="modal_header_top">
				<div class="close_button hamburger">
					<div></div>
					<div></div>
					<div></div>
				</div>
			</div>
			<div class="items_column_modal cabinet_open">
				<p>Личный кабинет</p>
				<div class="row_cabinet">
					<div><a href="#">Вход </a></div>
					<div><a href="#">Регистрация</a></div>
				</div>
			</div>
			<div class="items_column_modal">
				<p>Меню</p>
				<ul class="services_text">
					<li><a href="#">Оплата и доставка</a></li>
					<li><a href="#">Гарантии</a></li>
					<li><a href="#">Шоурум</a></li>
					<li><a href="#">Контакты</a></li>
				</ul>
			</div>
			<ul class="bottom_modal_text">
				<li>
					<span><img src="./img/procent.png" alt="Картинка" /></span>
					<div>Акции</div>
				</li>
				<li>
					<span><img src="./img/time.png" alt="Картинка" /></span>
					<div>Бренды</div>
				</li>
				<li>
					<span><img src="./img/location.png" alt="Картинка" /></span>
					<div>Киев, бульвар Дружбы народов 13</div>
				</li>
				<li>
					<span><img src="./img/telephone-orange.png" alt="Картинка" /></span>
					<div>
						<span><a href="#">+38-067-628-88-57</a></span><span><a href="#">+38-067-628-88-59</a></span>
					</div>
				</li>
			</ul>
		</div>
		<div class="mobile_header_top">
			<div class="hamburger">
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
		<div class="m_header_top">
			<div class="m_header_top_content">
				<ul>
					<li><a href="#">Оплата и доставка</a></li>
					<li class="action"><a href="warranty.html">Гарантии</a></li>
					<li ><a href="#">Шоурум</a></li>
					<li><a href="brands.html">Бренды</a></li>
					<li><a href="action.html">Акции</a></li>
					<li ><a href="contacts.html">Контакты</a></li>
				</ul>
				<div class="grAdres_mob"></div>
				<div class="m_header_top_gr">Пн.-Пт. с 10-00 до 18-00</div>
				<div class="m_header_top_adress">Киев, бульвар Дружбы народов 13</div>
				<div class="m_header_top_lang"><a class="active" href="#">Рус</a> <a href="#">Укр</a></div>
			</div>
		</div>
		<div class="m_header_center">
			<div class="m_header_center_content">
				<div class="mob_log_text"></div>
				<div class="mob_tel_search"></div>
				<div class="m_header_center_logo">
					<a href="#"><img src="./img/icon/logo.png" alt="" /></a>
					<a class="mobile_logo" href="#"><img src="./img/logo_two.png" alt="" /></a>
				</div>
				<div class="m_header_center_logotext">Профессиональная посуда для ресторанов, отелей, кафе</div>
				<div class="m_header_center_tel">
					<span class="iconTel">
						<img src="./img/icon/tel.png" alt="" />
						<img class="orange_img" src="./img/telephone-orange.png" alt="" />
					</span>
					<a href="tel:380676288857">+38-067-628-88-57</a>
					<a class="inActive" href="tel:380676288857">+38-067-628-88-57</a>
					<span class="iconArr"><img src="./img/icon/arr.png" alt="" /></span>
				</div>
				<div class="m_header_center_search">
					<form action="#">
						<input type="text" placeholder="Поиск по сайту, например “Тарелка”" /> <input type="button" />
					</form>
				</div>
				<div class="m_header_center_acc">
					<img src="./img/icon/man.png" alt="" /> <a href="#">Войти в аккаунт</a> <a href="#">Регистрация</a>
				</div>
				<div class="m_header_center_bas">
					<div class="bas_img"><img src="./img/icon/bag.png" alt="" /> <span>2</span></div>
					<div class="bas_text">
						Минимальная сумма заказа <br />
						<span>1000 грн</span>
					</div>
				</div>
			</div>
		</div>
		<div class="l_container device_container">
			<ul id="device">
				<li>
					<a class="link_hover" href="catalog.html">
						Фарфоровая
						посуда
					</a>
					<div class="hover_down">
						<div class="hover_items">
							<ul class="link_items">
								<li><a href="#">Чайники (заварники)</a></li>
								<li><a href="#">Салатницы и пиалы</a></li>
								<li><a href="#">Чашки</a></li>
								<li><a href="#">Аксессуары</a></li>
								<li><a href="#">Салфетницы</a></li>
								<li><a href="#">Японская кухня</a></li>
								<li><a href="#">Блюда из фарфора</a></li>
								<li><a href="#">Сахарницы</a></li>
							</ul>
						</div>
						<div class="hover_items">
							<ul class="link_items">
								<li><a href="#">Блюдца к чашкам</a></li>
								<li><a href="#">Супницы</a></li>
								<li><a href="#">Бульонницы</a></li>
								<li><a href="#">Тарелки десертные</a></li>
								<li><a href="#">Конфетницы</a></li>
								<li><a href="#">Тарелки для супа</a></li>
								<li><a href="#">Костяной фарфор</a></li>
								<li><a href="#">Тарелки для японских блюд </a></li>
							</ul>
						</div>
						<div class="hover_items">
							<ul class="link_items">
								<li><a href="#">Кофейники</a></li>
								<li><a href="#">Тарелки обеденные</a></li>
								<li><a href="#">Молочники</a></li>
								<li><a href="#">Тарелки подставные</a></li>
								<li><a href="#">Перечницы и солонки</a></li>
								<li><a href="#">Тарелки фарфоровые</a></li>
								<li><a href="#">Подставки</a></li>
								<li><a href="#">Коктейльные ложки, пал...</a></li>
							</ul>
						</div>
						<div class="hover_items d_flex f_column">
							<div class="top_hover_items d_flex j_c_space_between">
								<img src="../img/baner.png" alt="Картинка">
								<div class="bottom_button d-flex j_c_center">
									<button>Подробнее</button>
								</div>
							</div>
						</div>
				</li>
				<li>
					<a class="link_hover" href="#">
						Керамическая
						посуда
					</a>
					<div class="hover_down">
						<div class="hover_items">
							<ul class="link_items">
								<li><a href="#">Чайники (заварники)</a></li>
								<li><a href="#">Салатницы и пиалы</a></li>
								<li><a href="#">Чашки</a></li>
								<li><a href="#">Аксессуары</a></li>
								<li><a href="#">Салфетницы</a></li>
								<li><a href="#">Японская кухня</a></li>
								<li><a href="#">Блюда из фарфора</a></li>
								<li><a href="#">Сахарницы</a></li>
							</ul>
						</div>
						<div class="hover_items">
							<ul class="link_items">
								<li><a href="#">Блюдца к чашкам</a></li>
								<li><a href="#">Супницы</a></li>
								<li><a href="#">Бульонницы</a></li>
								<li><a href="#">Тарелки десертные</a></li>
								<li><a href="#">Конфетницы</a></li>
								<li><a href="#">Тарелки для супа</a></li>
								<li><a href="#">Костяной фарфор</a></li>
								<li><a href="#">Тарелки для японских блюд </a></li>
							</ul>
						</div>
						<div class="hover_items">
							<ul class="link_items">
								<li><a href="#">Кофейники</a></li>
								<li><a href="#">Тарелки обеденные</a></li>
								<li><a href="#">Молочники</a></li>
								<li><a href="#">Тарелки подставные</a></li>
								<li><a href="#">Перечницы и солонки</a></li>
								<li><a href="#">Тарелки фарфоровые</a></li>
								<li><a href="#">Подставки</a></li>
								<li><a href="#">Коктейльные ложки, пал...</a></li>
							</ul>
						</div>
						<div class="hover_items d_flex f_column">
							<div class="top_hover_items d_flex j_c_space_between">
								<img src="../img/baner.png" alt="Картинка">
								<div class="bottom_button d-flex j_c_center">
									<button>Подробнее</button>
								</div>
							</div>
						</div>
				</li>
				<li>
					<a class="link_hover" href="#">Стеклянная
						посуда</a>
					<div class="hover_down">
						<div class="hover_items">
							<ul class="link_items">
								<li><a href="#">Чайники (заварники)</a></li>
								<li><a href="#">Салатницы и пиалы</a></li>
								<li><a href="#">Чашки</a></li>
								<li><a href="#">Аксессуары</a></li>
								<li><a href="#">Салфетницы</a></li>
								<li><a href="#">Японская кухня</a></li>
								<li><a href="#">Блюда из фарфора</a></li>
								<li><a href="#">Сахарницы</a></li>
							</ul>
						</div>
						<div class="hover_items">
							<ul class="link_items">
								<li><a href="#">Блюдца к чашкам</a></li>
								<li><a href="#">Супницы</a></li>
								<li><a href="#">Бульонницы</a></li>
								<li><a href="#">Тарелки десертные</a></li>
								<li><a href="#">Конфетницы</a></li>
								<li><a href="#">Тарелки для супа</a></li>
								<li><a href="#">Костяной фарфор</a></li>
								<li><a href="#">Тарелки для японских блюд </a></li>
							</ul>
						</div>
						<div class="hover_items">
							<ul class="link_items">
								<li><a href="#">Кофейники</a></li>
								<li><a href="#">Тарелки обеденные</a></li>
								<li><a href="#">Молочники</a></li>
								<li><a href="#">Тарелки подставные</a></li>
								<li><a href="#">Перечницы и солонки</a></li>
								<li><a href="#">Тарелки фарфоровые</a></li>
								<li><a href="#">Подставки</a></li>
								<li><a href="#">Коктейльные ложки, пал...</a></li>
							</ul>
						</div>
						<div class="hover_items d_flex f_column">
							<div class="top_hover_items d_flex j_c_space_between">
								<img src="../img/baner.png" alt="Картинка">
								<div class="bottom_button d-flex j_c_center">
									<button>Подробнее</button>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li>
					<a class="link_hover" href="#">Столовые
						приборы</a>
					<div class="hover_down">
						<div class="hover_items">
							<ul class="link_items">
								<li><a href="#">Чайники (заварники)</a></li>
								<li><a href="#">Салатницы и пиалы</a></li>
								<li><a href="#">Чашки</a></li>
								<li><a href="#">Аксессуары</a></li>
								<li><a href="#">Салфетницы</a></li>
								<li><a href="#">Японская кухня</a></li>
								<li><a href="#">Блюда из фарфора</a></li>
								<li><a href="#">Сахарницы</a></li>
							</ul>
						</div>
						<div class="hover_items">
							<ul class="link_items">
								<li><a href="#">Блюдца к чашкам</a></li>
								<li><a href="#">Супницы</a></li>
								<li><a href="#">Бульонницы</a></li>
								<li><a href="#">Тарелки десертные</a></li>
								<li><a href="#">Конфетницы</a></li>
								<li><a href="#">Тарелки для супа</a></li>
								<li><a href="#">Костяной фарфор</a></li>
								<li><a href="#">Тарелки для японских блюд </a></li>
							</ul>
						</div>
						<div class="hover_items">
							<ul class="link_items">
								<li><a href="#">Кофейники</a></li>
								<li><a href="#">Тарелки обеденные</a></li>
								<li><a href="#">Молочники</a></li>
								<li><a href="#">Тарелки подставные</a></li>
								<li><a href="#">Перечницы и солонки</a></li>
								<li><a href="#">Тарелки фарфоровые</a></li>
								<li><a href="#">Подставки</a></li>
								<li><a href="#">Коктейльные ложки, пал...</a></li>
							</ul>
						</div>
						<div class="hover_items d_flex f_column">
							<div class="top_hover_items d_flex j_c_space_between">
								<img src="../img/baner.png" alt="Картинка">
								<div class="bottom_button d-flex j_c_center">
									<button>Подробнее</button>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li><a class="link_hover" href="#">Сервировка</a>
					<div class="hover_down">
						<div class="hover_items">
							<ul class="link_items">
								<li><a href="#">Чайники (заварники)</a></li>
								<li><a href="#">Салатницы и пиалы</a></li>
								<li><a href="#">Чашки</a></li>
								<li><a href="#">Аксессуары</a></li>
								<li><a href="#">Салфетницы</a></li>
								<li><a href="#">Японская кухня</a></li>
								<li><a href="#">Блюда из фарфора</a></li>
								<li><a href="#">Сахарницы</a></li>
							</ul>
						</div>
						<div class="hover_items">
							<ul class="link_items">
								<li><a href="#">Блюдца к чашкам</a></li>
								<li><a href="#">Супницы</a></li>
								<li><a href="#">Бульонницы</a></li>
								<li><a href="#">Тарелки десертные</a></li>
								<li><a href="#">Конфетницы</a></li>
								<li><a href="#">Тарелки для супа</a></li>
								<li><a href="#">Костяной фарфор</a></li>
								<li><a href="#">Тарелки для японских блюд </a></li>
							</ul>
						</div>
						<div class="hover_items">
							<ul class="link_items">
								<li><a href="#">Кофейники</a></li>
								<li><a href="#">Тарелки обеденные</a></li>
								<li><a href="#">Молочники</a></li>
								<li><a href="#">Тарелки подставные</a></li>
								<li><a href="#">Перечницы и солонки</a></li>
								<li><a href="#">Тарелки фарфоровые</a></li>
								<li><a href="#">Подставки</a></li>
								<li><a href="#">Коктейльные ложки, пал...</a></li>
							</ul>
						</div>
						<div class="hover_items d_flex f_column">
							<div class="top_hover_items d_flex j_c_space_between">
								<img src="../img/baner.png" alt="Картинка">
								<div class="bottom_button d-flex j_c_center">
									<button>Подробнее</button>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li><a class="link_hover" href="#">Ножи</a>
					<div class="hover_down">
						<div class="hover_items">
							<ul class="link_items">
								<li><a href="#">Чайники (заварники)</a></li>
								<li><a href="#">Салатницы и пиалы</a></li>
								<li><a href="#">Чашки</a></li>
								<li><a href="#">Аксессуары</a></li>
								<li><a href="#">Салфетницы</a></li>
								<li><a href="#">Японская кухня</a></li>
								<li><a href="#">Блюда из фарфора</a></li>
								<li><a href="#">Сахарницы</a></li>
							</ul>
						</div>
						<div class="hover_items">
							<ul class="link_items">
								<li><a href="#">Блюдца к чашкам</a></li>
								<li><a href="#">Супницы</a></li>
								<li><a href="#">Бульонницы</a></li>
								<li><a href="#">Тарелки десертные</a></li>
								<li><a href="#">Конфетницы</a></li>
								<li><a href="#">Тарелки для супа</a></li>
								<li><a href="#">Костяной фарфор</a></li>
								<li><a href="#">Тарелки для японских блюд </a></li>
							</ul>
						</div>
						<div class="hover_items">
							<ul class="link_items">
								<li><a href="#">Кофейники</a></li>
								<li><a href="#">Тарелки обеденные</a></li>
								<li><a href="#">Молочники</a></li>
								<li><a href="#">Тарелки подставные</a></li>
								<li><a href="#">Перечницы и солонки</a></li>
								<li><a href="#">Тарелки фарфоровые</a></li>
								<li><a href="#">Подставки</a></li>
								<li><a href="#">Коктейльные ложки, пал...</a></li>
							</ul>
						</div>
						<div class="hover_items d_flex f_column">
							<div class="top_hover_items d_flex j_c_space_between">
								<img src="../img/baner.png" alt="Картинка">
								<div class="bottom_button d-flex j_c_center">
									<button>Подробнее</button>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li><a class="link_hover" href="#">Деревянная
						посуда</a>
					<div class="hover_down">
						<div class="hover_items">
							<ul class="link_items">
								<li><a href="#">Чайники (заварники)</a></li>
								<li><a href="#">Салатницы и пиалы</a></li>
								<li><a href="#">Чашки</a></li>
								<li><a href="#">Аксессуары</a></li>
								<li><a href="#">Салфетницы</a></li>
								<li><a href="#">Японская кухня</a></li>
								<li><a href="#">Блюда из фарфора</a></li>
								<li><a href="#">Сахарницы</a></li>
							</ul>
						</div>
						<div class="hover_items">
							<ul class="link_items">
								<li><a href="#">Блюдца к чашкам</a></li>
								<li><a href="#">Супницы</a></li>
								<li><a href="#">Бульонницы</a></li>
								<li><a href="#">Тарелки десертные</a></li>
								<li><a href="#">Конфетницы</a></li>
								<li><a href="#">Тарелки для супа</a></li>
								<li><a href="#">Костяной фарфор</a></li>
								<li><a href="#">Тарелки для японских блюд </a></li>
							</ul>
						</div>
						<div class="hover_items">
							<ul class="link_items">
								<li><a href="#">Кофейники</a></li>
								<li><a href="#">Тарелки обеденные</a></li>
								<li><a href="#">Молочники</a></li>
								<li><a href="#">Тарелки подставные</a></li>
								<li><a href="#">Перечницы и солонки</a></li>
								<li><a href="#">Тарелки фарфоровые</a></li>
								<li><a href="#">Подставки</a></li>
								<li><a href="#">Коктейльные ложки, пал...</a></li>
							</ul>
						</div>
						<div class="hover_items d_flex f_column">
							<div class="top_hover_items d_flex j_c_space_between">
								<img src="../img/baner.png" alt="Картинка">
								<div class="bottom_button d-flex j_c_center">
									<button>Подробнее</button>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li><a class="link_hover" href="#">Наплитная
						посуда</a>
					<div class="hover_down">
						<div class="hover_items">
							<ul class="link_items">
								<li><a href="#">Чайники (заварники)</a></li>
								<li><a href="#">Салатницы и пиалы</a></li>
								<li><a href="#">Чашки</a></li>
								<li><a href="#">Аксессуары</a></li>
								<li><a href="#">Салфетницы</a></li>
								<li><a href="#">Японская кухня</a></li>
								<li><a href="#">Блюда из фарфора</a></li>
								<li><a href="#">Сахарницы</a></li>
							</ul>
						</div>
						<div class="hover_items">
							<ul class="link_items">
								<li><a href="#">Блюдца к чашкам</a></li>
								<li><a href="#">Супницы</a></li>
								<li><a href="#">Бульонницы</a></li>
								<li><a href="#">Тарелки десертные</a></li>
								<li><a href="#">Конфетницы</a></li>
								<li><a href="#">Тарелки для супа</a></li>
								<li><a href="#">Костяной фарфор</a></li>
								<li><a href="#">Тарелки для японских блюд </a></li>
							</ul>
						</div>
						<div class="hover_items">
							<ul class="link_items">
								<li><a href="#">Кофейники</a></li>
								<li><a href="#">Тарелки обеденные</a></li>
								<li><a href="#">Молочники</a></li>
								<li><a href="#">Тарелки подставные</a></li>
								<li><a href="#">Перечницы и солонки</a></li>
								<li><a href="#">Тарелки фарфоровые</a></li>
								<li><a href="#">Подставки</a></li>
								<li><a href="#">Коктейльные ложки, пал...</a></li>
							</ul>
						</div>
						<div class="hover_items d_flex f_column">
							<div class="top_hover_items d_flex j_c_space_between">
								<img src="../img/baner.png" alt="Картинка">
								<div class="bottom_button d-flex j_c_center">
									<button>Подробнее</button>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li><a class="link_hover" href="#">Кухонный
						инвентарь</a>
					<div class="hover_down">
						<div class="hover_items">
							<ul class="link_items">
								<li><a href="#">Чайники (заварники)</a></li>
								<li><a href="#">Салатницы и пиалы</a></li>
								<li><a href="#">Чашки</a></li>
								<li><a href="#">Аксессуары</a></li>
								<li><a href="#">Салфетницы</a></li>
								<li><a href="#">Японская кухня</a></li>
								<li><a href="#">Блюда из фарфора</a></li>
								<li><a href="#">Сахарницы</a></li>
							</ul>
						</div>
						<div class="hover_items">
							<ul class="link_items">
								<li><a href="#">Блюдца к чашкам</a></li>
								<li><a href="#">Супницы</a></li>
								<li><a href="#">Бульонницы</a></li>
								<li><a href="#">Тарелки десертные</a></li>
								<li><a href="#">Конфетницы</a></li>
								<li><a href="#">Тарелки для супа</a></li>
								<li><a href="#">Костяной фарфор</a></li>
								<li><a href="#">Тарелки для японских блюд </a></li>
							</ul>
						</div>
						<div class="hover_items">
							<ul class="link_items">
								<li><a href="#">Кофейники</a></li>
								<li><a href="#">Тарелки обеденные</a></li>
								<li><a href="#">Молочники</a></li>
								<li><a href="#">Тарелки подставные</a></li>
								<li><a href="#">Перечницы и солонки</a></li>
								<li><a href="#">Тарелки фарфоровые</a></li>
								<li><a href="#">Подставки</a></li>
								<li><a href="#">Коктейльные ложки, пал...</a></li>
							</ul>
						</div>
						<div class="hover_items d_flex f_column">
							<div class="top_hover_items d_flex j_c_space_between">
								<img src="../img/baner.png" alt="Картинка">
								<div class="bottom_button d-flex j_c_center">
									<button>Подробнее</button>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li><a class="link_hover" href="#">Кондитерский
						инвентарь</a>
					<div class="hover_down">
						<div class="hover_items">
							<ul class="link_items">
								<li><a href="#">Чайники (заварники)</a></li>
								<li><a href="#">Салатницы и пиалы</a></li>
								<li><a href="#">Чашки</a></li>
								<li><a href="#">Аксессуары</a></li>
								<li><a href="#">Салфетницы</a></li>
								<li><a href="#">Японская кухня</a></li>
								<li><a href="#">Блюда из фарфора</a></li>
								<li><a href="#">Сахарницы</a></li>
							</ul>
						</div>
						<div class="hover_items">
							<ul class="link_items">
								<li><a href="#">Блюдца к чашкам</a></li>
								<li><a href="#">Супницы</a></li>
								<li><a href="#">Бульонницы</a></li>
								<li><a href="#">Тарелки десертные</a></li>
								<li><a href="#">Конфетницы</a></li>
								<li><a href="#">Тарелки для супа</a></li>
								<li><a href="#">Костяной фарфор</a></li>
								<li><a href="#">Тарелки для японских блюд </a></li>
							</ul>
						</div>
						<div class="hover_items">
							<ul class="link_items">
								<li><a href="#">Кофейники</a></li>
								<li><a href="#">Тарелки обеденные</a></li>
								<li><a href="#">Молочники</a></li>
								<li><a href="#">Тарелки подставные</a></li>
								<li><a href="#">Перечницы и солонки</a></li>
								<li><a href="#">Тарелки фарфоровые</a></li>
								<li><a href="#">Подставки</a></li>
								<li><a href="#">Коктейльные ложки, пал...</a></li>
							</ul>
						</div>
						<div class="hover_items d_flex f_column">
							<div class="top_hover_items d_flex j_c_space_between">
								<img src="../img/baner.png" alt="Картинка">
								<div class="bottom_button d-flex j_c_center">
									<button>Подробнее</button>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li><a class="link_hover" href="#">Барный
						инвентарь</a>
					<div class="hover_down">
						<div class="hover_items">
							<ul class="link_items">
								<li><a href="#">Чайники (заварники)</a></li>
								<li><a href="#">Салатницы и пиалы</a></li>
								<li><a href="#">Чашки</a></li>
								<li><a href="#">Аксессуары</a></li>
								<li><a href="#">Салфетницы</a></li>
								<li><a href="#">Японская кухня</a></li>
								<li><a href="#">Блюда из фарфора</a></li>
								<li><a href="#">Сахарницы</a></li>
							</ul>
						</div>
						<div class="hover_items">
							<ul class="link_items">
								<li><a href="#">Блюдца к чашкам</a></li>
								<li><a href="#">Супницы</a></li>
								<li><a href="#">Бульонницы</a></li>
								<li><a href="#">Тарелки десертные</a></li>
								<li><a href="#">Конфетницы</a></li>
								<li><a href="#">Тарелки для супа</a></li>
								<li><a href="#">Костяной фарфор</a></li>
								<li><a href="#">Тарелки для японских блюд </a></li>
							</ul>
						</div>
						<div class="hover_items">
							<ul class="link_items">
								<li><a href="#">Кофейники</a></li>
								<li><a href="#">Тарелки обеденные</a></li>
								<li><a href="#">Молочники</a></li>
								<li><a href="#">Тарелки подставные</a></li>
								<li><a href="#">Перечницы и солонки</a></li>
								<li><a href="#">Тарелки фарфоровые</a></li>
								<li><a href="#">Подставки</a></li>
								<li><a href="#">Коктейльные ложки, пал...</a></li>
							</ul>
						</div>
						<div class="hover_items d_flex f_column">
							<div class="top_hover_items d_flex j_c_space_between">
								<img src="../img/baner.png" alt="Картинка">
								<div class="bottom_button d-flex j_c_center">
									<button>Подробнее</button>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
			<div class="button_catalog">
				<span> Каталог товаров</span>
			</div>
		</div>
	</header>