.l_container.top_link_list {
    margin-top: 22px;
    margin-bottom: 10px;
}

.l_container.filter_content .nice-select.open .list {
    overflow-y: hidden;
}

.all_product_content .text_top_product {
    text-align: left;
    margin-top: 0px;
}

.filters_product_container {
    margin-top: 40px;
}

.l_container.filter_content {
    margin-bottom: 35px;
    margin-top: 35px;
}

.device_list svg path {
    fill: #e9e9e9 !important;
}

.device_list {
    position: relative;
    display: flex;
}

.current {
    color: #c0c0c0;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 14px;
    vertical-align: middle;
}

.device_list svg {
    width: 170px;
    height: 40px;
    margin-left: -16px;
}

.filter {
    margin-left: auto;
}


.list_filter,
.price_filter,
.sorting_filter {
    position: relative;
}

.filter>div {
    align-items: center;
    height: 40px;
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    background-color: #ffffff;
    margin-left: 30px;
    display: flex;
}

.filter>div>span {
    color: #010101;
    font-size: 18px;
    font-weight: 400;
    line-height: 14px;
    padding: 12px 18px;
    margin-right: auto;
}

.nice-select.open:after {
    transform: rotate(180deg) !important;
    -webkit-transform: rotate(180deg) !important;
    -moz-transform: rotate(180deg) !important;
    -ms-transform: rotate(180deg) !important;
    -o-transform: rotate(180deg) !important;
    top: 20px!important;
    right: 16px;
}
.nice-select .current{
    position: relative;
}
.nice-select .current:after{
    content: "";
    background: url(../img/gray_arrow.png) no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: 14px ;
    height: 8px ;
    position: absolute;
    transform: translate(0%,-50%);
    top: 50%;
    right: -20px;
    z-index: 1;
    transition: .5s all ease;
}


.nice-select.open .current:after{
    transform: translate(0%,-50%)rotate(180deg);
    transition: .5s all ease;
}


.nice-select:after {
    background: url(../img/gray_arrow.png) no-repeat center;
    width: 14px !important;
    height: 8px !important;
    border: none !important;
    margin-top: -5px !important;
    transform: rotate(0deg) !important;
    -webkit-transform: rotate(0deg) !important;
    -moz-transform: rotate(0deg) !important;
    -ms-transform: rotate(0deg) !important;
    -o-transform: rotate(0deg) !important;
    top: 23px !important;
    display: none!important;
}

.nice-select.open {
    padding-left: 8px !important;
    padding-right: 30px !important;
    top: 0px;
    height: auto !important;
}

.sorting_filter {
    width: 332px;
}

.price_filter {
    width: 260px;
}

.list_filter {
    width: 206px;
}

.price_filter>span {
    margin-right: auto !important;
}

.list_filter>.nice-select {
    width: 60px;
}

.price_filter>.nice-select {
    width: 180px !important;
}

.sorting_filter>.nice-select {
    width: 187px !important;
}

.sorting_filter>span {
    margin-right: auto !important;
}

.nice-select {
    color: #c0c0c0;
    font-size: 18px;
    font-weight: 400;
    line-height: 14px;
    position: absolute !important;
    padding-left: 8px !important;
    right: 0px;
    padding-right: 30px !important;
    height: auto !important;
    border-radius: 0 20px 20px 0 !important;
    border: 1px solid #c0c0c0 !important;
    -webkit-border-radius: 0 20px 20px 0 !important;
    -moz-border-radius: 0 20px 20px 0 !important;
    -ms-border-radius: 0 20px 20px 0 !important;
    -o-border-radius: 0 20px 20px 0 !important;
    z-index: 1;
}

.nice-select .list {
    position: relative !important;
    display: none;
}

.nice-select.open .list {
    display: flex !important;
    flex-direction: column;
    margin-top: 0px !important;
    top: inherit !important;
    left: inherit !important;
    box-shadow: none !important;
    background-color: inherit !important;
}

.nice-select .option {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.device_list .text_list {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #010101;
    font-size: 14px;
    font-weight: 300;
    line-height: 14px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.filter_product {
    max-width: 283px;
    width: 100%;
}

.input_price>input:nth-child(1) {
    margin-right: 44px;
}

.text_filter {
    color: #000000;
    font-size: 22px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 33px;
}

.text_sorting_fiter {
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 25px;
}

.price_sorting {
    margin-bottom: 33px;
}

.text_top_product {
    color: #010101;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    height: auto;
    margin-bottom: 31px;
}

.input_price {
    margin-top: 25px;
}

.line {
    height: 6px;
    border-radius: 3px;
    border: 1px solid #d0d0d0;
    background-color: #ffffff;
    position: relative;
}

.ellipse_small {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translate(0%, -50%);
    width: 14px;
    height: 14px;
    background-color: #f5cf05;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
}

.ellipse_big {
    position: absolute;
    width: 22px;
    top: 50%;
    right: 8px;
    height: 22px;
    background-color: #f5cf05;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
}

.input_price input {
    width: 110px;
    padding-left: 10px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #f5cf05;
    background-color: #ffffff;
}

.inventory_filters {
    margin-top: 33px;
}

.all_product_content {
    margin-left: 65px;
    max-width: 1350px;
}

.select_text {
    color: #575757;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin-left: 10px;
}

.select_text a:hover {
    font-weight: 500;
}

.select_text a {
    color: #575757;
}

.banner {
    position: relative;
}

.banner_sale {
    color: #ffffff;
    font-family: Roboto;
    font-size: 48px;
    font-weight: 400;
}

.text_big {
    font-size: 62px;
    font-weight: 900;
    text-transform: uppercase;
}

.number_big {
    font-size: 140px;
    font-weight: 700;
    line-height: 140px;
}

.backgraund_image {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.items_button {
    position: absolute;
    top: 50%;
    right: 142px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    color: #000000;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    border-radius: 20px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 6px 52px;
}

.banner_sale {
    top: 50%;
    position: absolute;
    transform: translate(0%, -50%);
    right: 101px;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
}

.new_product>div:first-child {
    margin-left: 0px;
}

.new_product>div {
    margin-left: 50px;
}



.display_all {
    border: none;
    border-radius: 20px;
    background-color: #f5cf05;
    padding: 10px 69px;
    color: #fff;
    font-size: 18px;
    position: relative;
    font-weight: 700;
    cursor: pointer;
    z-index: 0;
}

.select_list>a:nth-child(3) {
    margin-left: -2px;
}

.select_list>a:nth-child(4) {
    margin-left: -1px;
    white-space: nowrap;
}

.display_all svg path {
    fill: white;
}

.display_all svg {
    width: 20px;
    height: 20px;
    margin-right: 18px;
    position: absolute;
    left: 25px;
}

.filters_product_container {
    margin-bottom: 70px;
}

.number_button_select {
    margin-top: 18px;
}

.center_container .left_arrow_number {
    margin-left: 0px !important;
}

.left_arrow_number {
    position: relative;
    margin-right: 45px;
    margin-left: 0px;
    position: relative;
    box-shadow: 0 4px 5px 1px rgba(0, 0, 0, 0.09);
    background-color: #f5cf05;
    padding: 19px;
    border: 1px solid transparent;
    border-radius: 30px;
    margin-left: 45px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.right_arrow_number.active {
    border: 1px solid #b9b9b9;
    padding: 19px;
    background: transparent;
    border-radius: 50px;
    box-shadow: none;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.left_arrow_number.active {
    border: 1px solid #b9b9b9;
    padding: 19px;
    background: transparent;
    border-radius: 50px;
    box-shadow: none;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.right_arrow_number.active::before {
    background: url(../img/arrow_left_gray.png) center no-repeat;
    background-size: 100% 100%;
    position: absolute;
    content: "";
    width: 8px;
    height: 14px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)rotate(-180deg);
    -webkit-transform: translate(-50%, -50%)rotate(-180deg);
    -moz-transform: translate(-50%, -50%)rotate(-180deg);
    -ms-transform: translate(-50%, -50%)rotate(-180deg);
    -o-transform: translate(-50%, -50%)rotate(-180deg);
}

.left_arrow_number.active::before {
    background: url(../img/arrow_left_gray.png) no-repeat center;
    background-size: 100% 100%;
    position: absolute;
    content: "";
    width: 8px;
    height: 14px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.left_arrow_number::before {
    background: url(../img/arrow_right_white.png) no-repeat center;
    position: absolute;
    content: "";
    width: 8px;
    height: 14px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)rotate(-180deg);
    -webkit-transform: translate(-50%, -50%)rotate(-180deg);
    -moz-transform: translate(-50%, -50%)rotate(-180deg);
    -ms-transform: translate(-50%, -50%)rotate(-180deg);
    -o-transform: translate(-50%, -50%)rotate(-180deg);
}

.right_arrow_number::before {
    background: url(../img/arrow_right_white.png) no-repeat center;
    position: absolute;
    content: "";
    width: 8px;
    height: 14px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.right_arrow_number,
.left_arrow_number {
    cursor: pointer;
}

.right_arrow_number {

    position: relative;
    box-shadow: 0 4px 5px 1px rgba(0, 0, 0, 0.09);
    background-color: #f5cf05;
    padding: 19px;
    border: 1px solid transparent;
    border-radius: 30px;
    ;
    margin-left: 45px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.number_list li:first-child {
    margin-left: 0px;
}

.number_list li.active {
    color: #000000;
    font-weight: 900;
}

.number_list li>a {
    color: #000000;
}

.number_list li {
    color: #858585;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    margin-left: 27px;
    cursor: pointer;
}

.input-range-container {
    position: relative;
    height: 6px;
    border-radius: 3px;
    border: 1px solid #d0d0d0;
    background-color: #ffffff;
}

.input-range-tracker {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 10px;
    border-radius: 10px;
    pointer-events: none;
}

.input-range-container input {
    margin-top: 2px;
}

.input-range-tracker-between {
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 6px;
    transform: translate(0%, -50%);
    border-radius: 10px;
    background: orange;
    pointer-events: none;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
}

input[type="range"] {
    appearance: none;
    position: absolute;
    display: block;
    width: 100%;
    background: transparent;
}

input[type="range"].display-upper {
    z-index: 1;
}

input[type="range"]:not(*:root) {
    pointer-events: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: transparent;
}

input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-webkit-media-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    pointer-events: auto;
}

input[name="range-lower"]::-webkit-slider-thumb,
input[name="range-lower"]::-webkit-media-slider-thumb {
    width: 14px;
    height: 14px;
    background-color: #f5cf05;
    top: 50%;
    transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
}



input[name="range-upper"]::-webkit-slider-thumb,
input[name="range-upper"]::-webkit-media-slider-thumb {
    width: 22px;
    height: 22px;
    background-color: #f5cf05;
    top: 50%;
    transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
}

input[type="range"]::-moz-range-track {
    background: transparent;
}

input[type="range"]::-moz-range-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    pointer-events: auto;
}

input[name="range-lower"]::-moz-range-thumb {
    width: 14px;
    height: 14px;
    background-color: #f5cf05;
    top: 50%;
    transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
}

input[name="range-upper"]::-moz-range-thumb {
    width: 22px;
    height: 22px;
    background-color: #f5cf05;
    top: 50%;
    transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
}

input[type="range"]::-ms-track {
    background: transparent;
    border-color: transparent;
    color: transparent;
    z-index: 1;
}

input[type="range"]::-ms-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
}

input[name="range-lower"]::-ms-thumb {
    width: 14px;
    height: 14px;
    background-color: #f5cf05;
    top: 50%;
    transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
}

input[name="range-upper"]::-ms-thumb {
    width: 22px;
    height: 22px;
    background-color: #f5cf05;
    top: 50%;
    transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
}

.noUi-handle {
    border: none !important;
    box-shadow: none !important;
}

.noUi-handle:after,
.noUi-handle:before {
    content: none;
    display: none !important;
}

.noUi-horizontal .noUi-tooltip {
    display: none;
}

html:not([dir=rtl]) .noUi-horizontal .noUi-handle {
    right: -6px !important;
}

.noUi-connect {
    background: orange !important;
}

.noUi-handle.noUi-handle-upper {
    width: 22px !important;
    height: 22px !important;
    background-color: #f5cf05;
    border-radius: 50px;
    transform: translate(0%, -40%);
    -webkit-transform: translate(0%, -40%);
    -moz-transform: translate(0%, -40%);
    -ms-transform: translate(0%, -40%);
    -o-transform: translate(0%, -40%);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    top: 50% !important;
}

.noUi-handle.noUi-handle-lower {
    top: 50% !important;
    width: 14px !important;
    height: 14px !important;
    background-color: #f5cf05;
    border-radius: 50px;
    transform: translate(0%, -35%);
    -webkit-transform: translate(0%, -35%);
    -moz-transform: translate(0%, -35%);
    -ms-transform: translate(0%, -35%);
    -o-transform: translate(0%, -35%);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.noUi-horizontal {
    height: 6px !important;
    border: 1px solid #d0d0d0;
    background-color: #ffffff;
}

.noUi-connects {
    border-radius: 3px;
}

.banner img {
    width: 100%;
}

.backgraund_image_text span {
    font-weight: 700;
}

.backgraund_image_text {
    font-size: 48px;
    color: #fff;
    font-weight: 100;
    line-height: 65px;
    margin: auto 0;
    margin-left: 77px;
}

.price_filter {
    order: 1;
}

.backgraund_image {
    display: flex;
}

.list_filter {
    order: 2;
}

.banner {
    border-radius: 4px;
    overflow: hidden;
}

.banner::before {
    content: " ";
    width: 100%;
    position: absolute;
    height: 98%;
    background: url(../img/opacity_show.png) no-repeat;
    background-size: 100% 100%;
    left: 0px;
    right: 0;
    z-index: -1;
    bottom: 4px;
}