.l_container.top_catalog_filter {
    margin-top: 22px;
    margin-bottom: 30px;
}

.device_list svg path {
    fill: #e9e9e9 !important;
}

.device_list {
    position: relative;
    display: flex;
}

.device_list svg {
    width: 170px;
    height: 40px;
    margin-left: -15px;
}

.filter {
    margin-left: auto;
}

.filter>div {
    height: 40px;
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    background-color: #ffffff;
    margin-left: 30px;
}

.filter span {
    color: #010101;
    font-size: 18px;
    font-weight: 400;
    line-height: 14px;
    padding: 12px 18px;
}



.filter select {
    color: #40a7ff;
    font-size: 18px;
    font-weight: 400;
    line-height: 14px;
    height: 40px;
    border-radius: 0 20px 20px 0;
    border: 1px solid #40a7ff;
}

.device_list .text_list {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #010101;
    font-size: 14px;
    font-weight: 300;
    line-height: 14px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.filter_product {
    max-width: 283px;
    width: 100%;
}

.input_price>input:nth-child(1) {
    margin-right: 44px;
}

.text_filter {
    color: #000000;
    font-size: 22px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 33px;
}

.text_sorting_fiter {
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 25px;
}

.price_sorting {
    margin-bottom: 33px;
}

.text_top_product {
    color: #010101;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    height: 27px;
    margin-bottom: 31px;
}

.input_price {
    margin-top: 25px;
}

.line {
    height: 6px;
    border-radius: 3px;
    border: 1px solid #d0d0d0;
    background-color: #ffffff;
    position: relative;
}

.ellipse_small {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translate(0%, -50%);
    width: 14px;
    height: 14px;
    background-color: #f5cf05;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
}

.ellipse_big {
    position: absolute;
    width: 22px;
    top: 50%;
    right: 8px;
    height: 22px;
    background-color: #f5cf05;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
}

.input_price input {
    width: 110px;
    padding-left: 10px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #f5cf05;
    background-color: #ffffff;
}

.inventory_filters {
    margin-top: 33px;
}

.all_product_content {
    margin-left: 65px;
}

.select_text {
    color: #575757;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin-left: 10px;
}

.banner {
    position: relative;
}

.banner_sale {
    color: #ffffff;
    font-family: Roboto;
    font-size: 48px;
    font-weight: 400;
}

.text_big {
    font-size: 62px;
    font-weight: 900;
    text-transform: uppercase;
}

.number_big {
    font-size: 140px;
    font-weight: 700;
    line-height: 140px;
}

.backgraund_image {
    position: absolute;
    top: 0;
    left: -11px;
    height: 100%;
    width: 100%;
    background: url(../img/Rectangle_579.png) no-repeat;
    background-position: bottom;
    background-size: auto;
}

.items_button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    color: #000000;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    border-radius: 20px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 6px 52px;
}

.banner_sale {
    top: 50%;
    position: absolute;
    transform: translate(0%, -50%);
    right: 101px;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
}

.new_product>div:first-child {
    margin-left: 0px;
}

.new_product>div {
    margin-left: 50px;
}

.catalog_product_all .item_product .new_tovar_img {
    display: none;
}

.display_all {
    border: none;
    border-radius: 20px;
    background-color: #f5cf05;
    padding: 10px 53px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.display_all svg path {
    fill: white;
}

.display_all svg {
    width: 20px;
    height: 20px;
    margin-right: 18px;
}

.filters_product_container {
    margin-bottom: 70px;
}

.number_button_select {
    margin-top: 18px;
}

.left_arrow_number {
    position: relative;
    margin-right: 45px;
    position: relative;
    box-shadow: 0 4px 5px 1px rgba(0, 0, 0, 0.09);
    background-color: #f5cf05;
    padding: 19px;
    border: 1px solid transparent;
    border-radius: 30px;
    ;
    margin-left: 45px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.left_arrow_number.active {
    border: 1px solid #b9b9b9;
    padding: 19px;
    background: transparent;
    border-radius: 50px;
    box-shadow: none;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.right_arrow_number.active::before {
    background: url(../img/arrow_left_gray.png) no-repeat center;
    background: transparent;
    border: 1px solid #b9b9b9;
    box-shadow: none;
}

.left_arrow_number.active::before {
    background: url(../img/arrow_left_gray.png) no-repeat center;
    position: absolute;
    content: "";
    width: 8px;
    height: 14px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.right_arrow_number::before {
    background: url(../img/arrow_right_white.png) no-repeat center;
    position: absolute;
    content: "";
    width: 8px;
    height: 14px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.right_arrow_number,
.left_arrow_number {
    cursor: pointer;
}

.right_arrow_number {

    position: relative;
    box-shadow: 0 4px 5px 1px rgba(0, 0, 0, 0.09);
    background-color: #f5cf05;
    padding: 19px;
    border: 1px solid transparent;
    border-radius: 30px;
    ;
    margin-left: 45px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.number_list li:first-child {
    margin-left: 0px;
}

.number_list li.active {
    color: #000000;
    font-weight: 900;
}

.number_list li {
    color: #858585;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    margin-left: 27px;
    cursor: pointer;
}

.input-range-container {
    position: relative;
    height: 6px;
    border-radius: 3px;
    border: 1px solid #d0d0d0;
    background-color: #ffffff;
}

.input-range-tracker {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 10px;
    border-radius: 10px;
    pointer-events: none;
}

.input-range-container input {
    margin-top: 2px;
}

.input-range-tracker-between {
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 6px;
    transform: translate(0%, -50%);
    border-radius: 10px;
    background: orange;
    pointer-events: none;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
}

input[type="range"] {
    appearance: none;
    position: absolute;
    display: block;
    width: 100%;
    background: transparent;
}

input[type="range"].display-upper {
    z-index: 1;
}

input[type="range"]:not(*:root) {
    pointer-events: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: transparent;
}

input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-webkit-media-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    pointer-events: auto;
}

input[name="range-lower"]::-webkit-slider-thumb,
input[name="range-lower"]::-webkit-media-slider-thumb {
    width: 14px;
    height: 14px;
    background-color: #f5cf05;
    top: 50%;
    transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
}

input[name="range-upper"]::-webkit-slider-thumb,
input[name="range-upper"]::-webkit-media-slider-thumb {
    width: 22px;
    height: 22px;
    background-color: #f5cf05;
    top: 50%;
    transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
}

input[type="range"]::-moz-range-track {
    background: transparent;
}

input[type="range"]::-moz-range-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    pointer-events: auto;
}

input[name="range-lower"]::-moz-range-thumb {
    width: 14px;
    height: 14px;
    background-color: #f5cf05;
    top: 50%;
    transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
}

input[name="range-upper"]::-moz-range-thumb {
    width: 22px;
    height: 22px;
    background-color: #f5cf05;
    top: 50%;
    transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
}

input[type="range"]::-ms-track {
    background: transparent;
    border-color: transparent;
    color: transparent;
    z-index: 1;
}

input[type="range"]::-ms-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
}

input[name="range-lower"]::-ms-thumb {
    width: 14px;
    height: 14px;
    background-color: #f5cf05;
    top: 50%;
    transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
}

input[name="range-upper"]::-ms-thumb {
    width: 22px;
    height: 22px;
    background-color: #f5cf05;
    top: 50%;
    transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
}
