@media only screen and (max-width:1800px) {

    .m_header_top_content,
    .m_header_top_content a {
        font-size: 13px
    }

    .l_container,
    .m_header_center_content,
    .m_header_top_content {
        max-width: 1200px
    }

    .m_header_top_content ul li {
        margin-right: 0
    }

    .m_header_top_lang {
        padding: 8px
    }

    .m_header_top_lang a {
        font-size: 8px
    }

    .m_header_top_lang:before {
        top: 2px
    }

    .m_header_center_search input[type=text] {
        width: 390px
    }

    .m_header_center_logo {
        width: 186px;
        height: 46px
    }

    .m_header_center_logotext {
        color: #fff;
        font-size: 13px;
        font-weight: 300;
        line-height: 17.08px;
        max-width: 177px
    }

    .m_header_center_tel {
        width: 175px
    }

    .m_header_center_tel a {
        font-size: 13px
    }

    .m_header_center_acc a {
        font-size: 12px
    }

    .m_header_center_acc a:last-child {
        font-size: 10px
    }

    .bas_text {
        font-size: 11px !important;
        line-height: 12px
    }

    .m_header_center_tel .iconTel {
        cursor: pointer;
        width: 26px;
        height: 26px;
        left: 1px;
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.21);
        border: none;
    }

    .m_header_center_tel .iconTel img {
        width: 16px;
        height: 16px;
        top: 5px;
        left: 5px
    }

    .m_header_center_search input[type=text],
    .m_header_center_tel {
        height: 30px
    }


    .m_header_center_search input[type=button] {
        width: 27px;
        height: 27px
    }

    .m_header_center_search:after {
        right: 7px;
        top: 7px
    }

    .m_header_center_acc img {
        margin: 0 auto 8px
    }

    .m_header_center_acc a {
        margin-bottom: 8px
    }

    .m_header_center_bas {
        padding: 25px 10px 17px
    }

    .m_header_center_bas .bas_img span {
        font-size: 14px
    }

    #device {
        max-width: 1200px;
    }

    #device>li>a {
        font-size: 13px;
        line-height: 13.52px;
    }

    .hover_down {
        top: 48px;
        z-index: 2;
        min-width: 1200px;
        height: 429px;
    }

    .link_items>li>a {
        font-size: 12px;
        line-height: 48px;
    }

    .text_size div {
        font-size: 22px;
    }

    .text_size span {
        font-size: 28px;
    }

    .top_hover_items img {
        width: 68px;
        height: 50px;
    }

    .bottom_button button {
        font-size: 12px;
        line-height: 14.24px;
        padding: 7px 30px;
    }

    .item_product {
        height: 329px;
        width: 215px !important;
    }

    .model_id,
    .name_product>span {
        font-size: 13px;
        line-height: 19.22px;
    }

    .content_block {
        margin-top: 9px;
    }

    .text_model {
        font-size: 13px;
    }

    .text_product {
        font-size: 22px;
    }

    .arrow_click>div {
        font-size: 13px;
    }

    .arrow_click .slick-next:before,
    .arrow_click .slick-prev:before {
        width: 29px;
        height: 29px;
    }

    .img_product img {
        height: 195px;
    }

    .buy_product {
        margin-top: 27px;
    }

    .item_product:hover {
        height: 409px;
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
    }

    .price_product {
        margin-top: 30px;
    }

    .model_product {
        margin-top: 5px;
    }

    .new_product_container {
        margin-top: 32px;
    }

    .slider_product,
    .slider_product_hits {
        height: 434px;
    }

    .slider_product .slick-list,
    .slider_product_hits .slick-list {
        padding: 20px 0px;
    }

    .slider_product {
        position: relative;
        z-index: 1;

    }

    .items_online_store img {
        width: 100%;
    }

    .text_product {
        margin-bottom: -10px;
    }

    .text_container {
        font-size: 22px;
    }

    .item_our_adv svg {
        width: 73px;
        height: 81px;
    }

    .item_our_adv p {
        font-size: 18px;
    }

    .content_item_online_store>div:nth-child(1) {
        font-size: 13px;
        line-height: 17px;
        padding: 30px 50px 30px 42px;
        margin-right: 34px;
        min-width: 641px;
    }

    .content_item_online_store>div:nth-child(1) span {
        font-size: 19px;
    }

    .content_learn_items form {
        width: 499px;
        margin-left: 15px;
    }

    .content_item_online_store>div:nth-child(2)>div:nth-child(1) {
        margin-bottom: 30px;
    }

    .content_item_online_store {
        max-height: 600px;
    }

    .buy_product button,
    .content_learn_items form button {
        font-size: 12px;
    }

    .email_sand svg {
        width: 19px;
        height: 19px;
    }

    .content_learn_items form {
        height: 37px;
    }

    .content_learn_items form button {
        width: 143px;
    }

    .content_learn_items form input:-ms-input-placeholder {
        color: #a9a9a9;
        font-size: 12px;
        font-weight: 400;
        line-height: 14.23px;
    }

    .content_learn_items form input:-moz-placeholder {
        color: #a9a9a9;
        font-size: 12px;
        font-weight: 400;
        line-height: 14.23px;
    }

    .content_learn_items form input::-webkit-input-placeholder {
        color: #a9a9a9;
        font-size: 12px;
        font-weight: 400;
        line-height: 14.23px;
    }

    .content_learn_items form input::-moz-placeholder {
        color: #a9a9a9;
        font-size: 12px;
        font-weight: 400;
        line-height: 14.23px;
    }

    .head_items_footer {
        font-size: 18px;
    }

    .develop,
    .text_color {
        font-size: 13px;
    }

    .develop svg {
        bottom: 5px;
        width: 41px;
        height: 21px;
        margin-left: 10px;
    }

    .search_online {
        max-width: 150px;
    }

    .search_online span {
        font-size: 13px;
    }

    .social_img svg {
        width: 21px;
        height: 21px;
    }
}

@media only screen and (max-width:1279px) {

    /*Animation*/

    @keyframes scale-in-top {
        0% {
            top: 0px;
            opacity: 1;
        }

        100% {
            top: 195px;
            opacity: 1;
        }
    }

    @keyframes scale-in-bottom {
        0% {
            top: 195px;
        }

        100% {
            top: -390px;
        }
    }

    /*----------------------------------*/

    #device {
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-bottom: 65px;
        min-width: 243px;
        ;
    }

    #device>li {
        padding: 18px 0px 17px 24px;
        align-items: center;
        justify-content: flex-start
    }

    .hover_down {
        min-width: 488px;
        left: 243px;
        top: 0;
        height: 623px;
        background-color: #f7f7f7;
        box-shadow: none;
        border-radius: inherit;
        -webkit-border-radius: inherit;
        -moz-border-radius: inherit;
        -ms-border-radius: inherit;
        -o-border-radius: inherit;
    }

    .hover_down .hover_items:nth-child(4) {
        display: none;
    }

    .device_container.active-scale .button_catalog {
        transform: translate(-50%, 0%)rotate(-180deg) !important;
        -webkit-transform: translate(-50%, 0%)rotate(-180deg) !important;
        -moz-transform: translate(-50%, 0%)rotate(-180deg) !important;
        -ms-transform: translate(-50%, 0%)rotate(-180deg) !important;
        -o-transform: translate(-50%, 0%)rotate(-180deg) !important;
        position: absolute;
        z-index: 3;
    }

    .device_container.active .button_catalog {
        transform: translate(-50%, 0%)rotate(-180deg);
        -webkit-transform: translate(-50%, 0%)rotate(-180deg);
        -moz-transform: translate(-50%, 0%)rotate(-180deg);
        -ms-transform: translate(-50%, 0%)rotate(-180deg);
        -o-transform: translate(-50%, 0%)rotate(-180deg);
        position: absolute;
        z-index: 3;
    }

    .device_container.active-scale .button_catalog span {
        transform: rotate(-180deg);
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
    }

    .device_container.active-scale {
        height: 623px;
        flex-direction: column;
        -webkit-animation: scale-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: scale-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        justify-content: flex-start;
        align-items: center;
        max-width: 731px;
        left: 50%;
        transform: translate(-50%, 0%);
        position: relative;
        background-color: #fff !important;
    }

    .device_container.active-scale::after {
        position: fixed;
        top: 0;
        bottom: 0;
        content: " ";
        z-index: -9;
        width: 100vw;
        height: 100%;
        left: 50%;
        transform: translate(-50%, 0%);
        background: #fff;
    }

    .device_container.active::after {
        background: #fff;
    }

    .device_container::after {
        position: fixed;
        top: 0;
        content: " ";
        z-index: -9;
        width: 100vw;
        height: 100%;
        left: 50%;
        transform: translate(-50%, 0%);
        background: transparent;
    }

    .device_container.active .button_catalog span {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
    }

    .hover_down .hover_items:nth-child(-n+3) {
        margin: 0;
    }

    .device_container.active {
        height: 623px;
        flex-direction: column;
        -webkit-animation: scale-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: scale-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        justify-content: center;
        align-items: center;
        max-width: 731px;
        left: 50%;
        transform: translate(-50%, 0%);
        position: absolute;
        background-color: #fff !important;
    }

    .hover_down .hover_items:nth-child(3) {
        display: none;
    }

    .device_container.active #device {
        display: flex;
        align-self: flex-start;
        margin: 0;
        flex-direction: column;
        max-width: 243px;
        height: 100%;
        width: 100%;
    }

    .device_container.active-scale #device {
        display: flex;
        align-self: flex-start;
        margin: 0;
        flex-direction: column;
        max-width: 243px;
        height: 100%;
        width: 100%;
    }

    .slider_container {
        margin-top: 63px;
    }

    .slider_container .slick-track {
        height: 400px;
        min-height: 200px;
    }

    .slider_container .slick-slide img {
        height: 100%;
    }

    .l_container.device_container {
        display: flex;
        box-shadow: none;
        position: absolute;
        top: -395px;
        height: 623px;
        justify-content: flex-start;
        max-width: 730px;
        left: 50%;
        transform: translate(-50%, 0%);
        -webkit-transform: translate(-50%, 0%);
        -moz-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
        -o-transform: translate(-50%, 0%);
        background-color: transparent;
    }

    #device>li::before {
        width: 20px;
        height: 30px;
        left: inherit;
        right: -15px;
        bottom: inherit;
        background-size: 100%;
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
    }

    .button_catalog {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        cursor: pointer;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        width: 100%;
        max-width: 236px;
        left: 50%;
        transform: translate(-50%, 0%);
        position: absolute;
        bottom: 0px;
        height: 34px;
        -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, .11);
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, .11);
        border-radius: 0 0 17px 17px;
        z-index: 3;
        background-color: #f5cf05;
    }

    .content_item_online_store {
        display: flex;
        flex-direction: column;
    }

    .slider_container {
        max-height: 400px;
        min-height: 200px;
    }

    .slider_container .slick-next,
    .slider_container .slick-prev {
        width: 36px;
        height: 71px;
    }

    .content_item_online_store>div:nth-child(2) {
        height: 183px;
        margin-top: 10px;
        flex-direction: row;
    }

    .content_item_online_store>div:nth-child(2)>div:nth-child(1) {
        margin-bottom: 0px;
        margin-right: 12px;
    }

    .content_item_online_store {
        max-height: inherit;
    }

    .item_footer {
        margin-left: 15px;
    }

    .content_learn_items {
        flex-direction: column;
    }

    .content_learn_items {
        margin-top: 39;
        margin-bottom: 33px;
    }

    .email_sand {
        margin-top: 19px;
    }

    .grAdres_mob,
    .mob_log_text {
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        -ms-flex-direction: column
    }

    .grAdres_mob,
    .mob_log_text,
    .mob_tel_search {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal
    }

    .l_container {
        max-width: 730px
    }

    .m_header_top_content {
        font-size: 13px;
        max-width: 730px
    }

    .m_header_top_content ul li {
        padding: 15px 5px
    }

    .m_header_top_content a {
        font-size: 12px
    }

    .grAdres_mob {
        display: flex;
        flex-direction: column
    }

    .m_header_top_adress {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1
    }

    .m_header_top_gr {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2
    }

    .m_header_top_adress:before {
        width: 11px;
        height: 14px;
        top: 0;
        left: -14px
    }

    .m_header_top_gr:before {
        width: 14px;
        height: 14px;
        top: 2px;
        left: -15px
    }

    .m_header_top_lang a {
        font-size: 8px
    }

    .m_header_center_bas .bas_img span,
    .mob_tel_search .m_header_center_search input[type=text] {
        font-size: 10px
    }

    .m_header_top_lang:before {
        width: 23px;
        height: 23px;
        top: 4px
    }

    .m_header_top_lang {
        padding: 6px
    }

    .mob_log_text {
        display: flex;
        flex-direction: column
    }

    .mob_tel_search {
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        max-width: 210px
    }

    .mob_tel_search form,
    .mob_tel_search form input {
        width: 100%;
        max-width: 100%
    }

    .mob_tel_search .m_header_center_tel {
        width: 100%;
        max-width: 100%;
        margin-bottom: 4px
    }

    .m_header_center_content {
        max-width: 730px;
        padding: 0 10px;
    }

    .m_header {
        position: relative;
        z-index: 4;
    }

}

@media only screen and (max-width:767px) {

    /*Animation*/
    .mobile_header_top {
        display: block;
    }

    @keyframes scale-in-top {
        0% {
            top: -400px;
            opacity: 1;
        }

        100% {
            top: 200px;
            opacity: 1;
        }
    }

    @keyframes scale-in-bottom {
        0% {
            top: 200px;
        }

        100% {
            top: -400px;
        }
    }

    .items_column_modal>p {
        color: #f5cf05;
        font-size: 14px;
        font-weight: 500;
    }

    .cabinet_open {
        margin-top: 28px;
    }

    .row_cabinet>div:nth-child(1) {
        margin: 0px 18px;
    }

    .row_cabinet a {
        color: #000000;
        font-size: 14px;
        font-weight: 300;
    }

    .services_text {
        margin-top: 15px;
        padding-left: 18px;
    }

    .services_text li {
        margin-bottom: 28px;
    }

    .bottom_modal_text {
        margin-top: auto;
    }

    .services_text li a {
        color: #000000;
        font-size: 14px;
        font-weight: 300;
    }

    .row_cabinet {
        margin-top: 15px;
        margin-bottom: 29px;
        display: flex;
    }

    .items_column_modal p {
        margin: 0;
    }

    .close_button.hamburger {
        order: 2;
        margin-left: auto;
    }

    .modal_header_top {
        display: flex;
        align-items: center;
    }

    .items_column_modal a:hover {
        color: #f5cf05;
    }

    .m_header_top_lang a {
        margin-right: 15px;
    }

    .m_header_top_lang {
        padding: 9px;
    }

    .bottom_modal_text li:last-child>div>span:last-child {
        margin-left: 21px;
    }

    .bottom_modal_text li:last-child>span {
        margin-bottom: 0px;
    }

    .bottom_modal_text li>span {
        width: 16px;
        height: 16px;
        margin-right: 8px;
        margin-bottom: 19px;
    }

    .bottom_modal_text li {
        display: flex;
    }

    .bottom_modal_text {
        color: #000000;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 300;
    }

    .hamburger.active>div:nth-child(2) {
        opacity: 0;
    }

    .bottom_modal_text li:last-child a:hover {
        color: #f5cf05;
    }

    .bottom_modal_text li:last-child a {
        color: #010101;
    }

    .slider_container .slick-next,
    .slider_container .slick-prev {
        width: 25px;
        height: 50px;
    }
.slider_container .slick-prev:before,
    .slider_container .slick-next:before {
        width: 12px;
        height: 20px;
    }

    .hamburger.active>div:nth-child(3) {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -o-transform: rotate(135deg);
    }

    .hamburger.active>div:nth-child(1) {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
    }

    .hamburger.active div {
        transition: .5s all;
        position: absolute;
        animation: close 1s ease;
        -webkit-animation: close 1s ease;
        -webkit-transition: .5s all;
        -moz-transition: .5s all;
        -ms-transition: .5s all;
        -o-transition: .5s all;
    }

    .drop_down.active::before {
        transition: .5s all;
        transform: translate(0%, -50%)rotate(45deg) !important;
        -webkit-transform: translate(0%, -50%)rotate(45deg) !important;
        -moz-transform: translate(0%, -50%)rotate(45deg) !important;
        -ms-transform: translate(0%, -50%)rotate(45deg) !important;
        -o-transform: translate(0%, -50%)rotate(45deg) !important;
        -webkit-transition: .5s all;
        -moz-transition: .5s all;
        -ms-transition: .5s all;
        -o-transition: .5s all;
    }

    .hover_down.active {
        display: flex !important;
        -webkit-animation: scale-up-ver-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation: scale-up-ver-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }

    @-webkit-keyframes scale-up-ver-top {
        0% {
            -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
            -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
        }

        100% {
            -webkit-transform: scaleY(1);
            transform: scaleY(1);
            -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
        }
    }

    @keyframes scale-up-ver-top {
        0% {
            -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
            -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
        }

        100% {
            -webkit-transform: scaleY(1);
            transform: scaleY(1);
            -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
        }
    }



    @keyframes close {
        0% {
            position: absolute;
        }

        100% {
            position: absolute;
            margin-bottom: 0px;
        }
    }

    .content_item_online_store>div:nth-child(2) {
        height: 100% !important;
    }

    .m_header_center_search input[type=text] {
        padding-left: 6px;
    }

    .arrow_click>div {
        margin: 0 4px;
    }

    .items_online_store img {
        height: 100%;
    }

    .content_footer {
        padding: 0 10px;
    }

    .item_footer {
        margin-left: 0px;
    }

    .modal_header_menu.active {
        display: flex;
        top: 0px;
        left: 0px;
        -webkit-animation: scale-up-tl 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation: scale-up-tl 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }



    @keyframes scale-up-tl {
        0% {
            -webkit-transform: scale(0.5);
            transform: scale(0.5);
            -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
            transition: 1s all;
            -webkit-transition: 1s all;
            -moz-transition: 1s all;
            -ms-transition: 1s all;
            -o-transition: 1s all;
        }

        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
        }
    }

    .modal_header_menu {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        position: fixed;
        background: #fff;
        transition: .5s all;
        top: -500px;
        left: -500px;
        width: 100%;
        height: 100%;
        z-index: 5;
        flex-direction: column;
        padding: 21px 10px;
        -webkit-transition: .5s all;
        -moz-transition: .5s all;
        -ms-transition: .5s all;
        -o-transition: .5s all;
    }

    .content_learn_items .text_container {
        max-width: 260px !important;
    }

    .content_learn_items {
        align-items: center;
    }

    .content_learn_items form {
        margin-left: 0px;
    }

    .hamburger {
        cursor: pointer;
        display: flex;
        min-width: 36px;
        height: 36px;
        width: 36px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 9px;
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.21);
        border-radius: 18px;
        background-color: #ffffff;

    }

    .hamburger>div {
        width: 18px;
        height: 4px;
        transition: .5s all;
        margin-bottom: 2px;
        border-radius: 2px;
        background-color: #f5cf05;
        -webkit-transition: .5s all;
        -moz-transition: .5s all;
        -ms-transition: .5s all;
        -o-transition: .5s all;
    }

    .m_header_center_search:after {
        right: 9px;
        top: 9px;
    }


    .m_header_center_search input[type=button] {
        right: 2px;
        top: 3px;
    }

    .mobile_header_top {
        padding: 10px 7px;
        display: flex;
    }

    .m_header_center_logo {
        margin-bottom: 6px;
    }

    .m_header_center_search input[type=text],
    .m_header_center_tel {
        height: 36px;
    }

    .modal_header_menu {
        display: flex;
    }


    .m_header_center_search input[type=button] {
        width: 30px;
        height: 30px;
    }

    .l_container.device_container {
        flex-direction: column;
        top: -387px;
        position: absolute;
    }



    .device_container.active-scale::after,
    .device_container.active::after {
        display: none;
    }

    .slider_container {
        margin-top: 65px;
    }

    #device,
    .hover_down .hover_items:nth-child(3),
    .hover_down .hover_items:nth-child(4) {
        display: flex;
        flex-direction: column;
        margin: 0;
    }


    .device_container.active-scale .button_catalog {
        transform: translate(-50%, 0%)rotate(360deg) !important;
        -webkit-transform: translate(-50%, 0%)rotate(360deg) !important;
        bottom: -30px;
        -moz-transform: translate(-50%, 0%)rotate(360deg) !important;
        -ms-transform: translate(-50%, 0%)rotate(360deg) !important;
        -o-transform: translate(-50%, 0%)rotate(360deg) !important;
        position: relative;
        z-index: 3;
    }

    .device_container.active-scale::after,
    .device_container.active::after {
        border-radius: 0 0 17px 17px;
    }

    .device_container.active-scale .button_catalog span {
        transform: rotate(360deg) !important;
        -webkit-transform: rotate(360deg) !important;
        -moz-transform: rotate(360deg) !important;
        -ms-transform: rotate(360deg) !important;
        -o-transform: rotate(360deg) !important;
    }

    .device_container.active .button_catalog {
        transform: translate(-50%, 0%)rotate(360deg);
        -webkit-transform: translate(-50%, 0%)rotate(360deg);
        -moz-transform: translate(-50%, 0%)rotate(360deg);
        -ms-transform: translate(-50%, 0%)rotate(360deg);
        -o-transform: translate(-50%, 0%)rotate(360deg);
        position: relative;
        z-index: 3;
    }

    .device_container.active {
        border-radius: 0 0 30px 30px;
        -webkit-border-radius: 0 0 30px 30px;
        -moz-border-radius: 0 0 30px 30px;
        -ms-border-radius: 0 0 30px 30px;
        -o-border-radius: 0 0 30px 30px;
    }

    #device>li {
        padding: 0px;
    }

    .device_container.active .button_catalog span {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }

    .content_footer>div:first-child>div:nth-child(1) {
        margin-left: 0px;
    }

    .mob_tel_search {
        display: flex;
    }

    .mob_tel_search .m_header_center_search input[type=text] {
        width: 100%;
    }

    .m_header_center_search {
        order: 1;
        flex: 1;
        margin-right: 10px;
        margin-left: 10px;
    }

    .mob_tel_search .m_header_center_tel {
        order: 2;
    }

    .mob_tel_search .m_header_center_tel {
        margin-bottom: 0px;
    }

    .m_header {
        position: relative;
        z-index: 4;
    }

    .device_container.active {
        height: auto;
    }

    .l_container.device_container {
        padding: 0px;
        z-index: 3;
    }

    .button_catalog {
        max-width: inherit;
    }

    .item_our_adv {
        flex-basis: 50%;
    }

    .text_container {
        max-width: inherit !important;
    }

    .column_item_our_advatages {
        flex-wrap: wrap;
    }

    .email_sand button>span {
        display: none;
    }

    .email_sand svg {
        left: 8px;
    }

    .content_learn_items form button {
        width: 40px;
    }

    .content_footer {
        padding-top: 28px;
        padding-bottom: 28px;
    }

    .content_footer>div:first-child>div:nth-child(2)>.search_online {
        order: 3
    }

    .search_online {
        margin-top: 15px;
    }

    .head_items_footer {
        margin-bottom: 13px !important;
    }

    .social_img svg {
        margin-right: 22px;
    }

    .content_footer>div:first-child>div {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-left: 18px;
    }

    .social_img {
        display: flex;
    }

    .text_container {
        max-width: 261px;
    }

    .content_item_online_store>div:nth-child(1) {
        min-width: inherit;
        width: 100%;
        margin-right: 0px;
    }

    .content_item_online_store>div:nth-child(2) {
        height: 250px;
    }

    .content_item_online_store>div:nth-child(2)>div:nth-child(1) {
        display: none;
    }

    .content_item_online_store>div:nth-child(1) {
        padding: 5px;
    }

    .slider_container {
        background: transparent;
        box-shadow: none;
    }

    .slider_container .slick-prev {
        left: 10px;
    }

    .slider_container .slick-next {
        right: 10px;
    }

    body>.l_container {
        padding: 0px 10px;
    }

    .content_learn_items form {
        width: 100%;
        max-width: 499px;
    }

    .slider_container .slick-slide img {
        height: 200px;
    }

    .m_header_top_content {
        display: none
    }

    .slider_container .slick-track {
        height: auto;
    }

    .slider_container .slick-track {
        min-height: 200px;
    }

    .select_button_new_product {
        display: flex;
    }

    .arrow_click {
        right: 35px;
    }

    .content_footer {
        flex-direction: column;
    }

    .content_footer>div:first-child {
        flex-direction: row;
    }

    .mob_row {
        flex-direction: row;
        display: flex;
    }

    .content_footer>div:last-child {
        display: none;
    }

    .item_our_adv p {
        text-align: center;
    }

    #device>li:hover .hover_down {
        display: none;
    }

    .device_container.active-scale #device {
        max-width: inherit;
    }

    .device_container.active #device {
        max-width: inherit;
    }

    .drop_down {
        position: relative;
        width: 100%;
        display: flex;
        order: 1;
        padding: 15px 15px;
    }

    .link_items li {
        margin-left: 0px;
        margin: 0px 10px;
    }

    .link_items {
        max-width: inherit;
    }

    #device>li {
        flex-direction: column;
    }

    .hover_down .hover_items:nth-child(4) {
        display: none;
    }

    #device>li:hover .hover_down {
        display: none;
    }

    #device,
    .hover_down .hover_items:nth-child(3),
    .hover_down .hover_items:nth-child(4) {
        display: none;
    }

    .hover_down {
        order: 2;
        min-width: inherit;
        top: inherit;
        position: relative;
        display: none;
        left: inherit;
        height: auto;
    }

    .hover_down .hover_items:nth-child(2) {
        display: none;
    }


    #device>li .drop_down::before {
        content: "";
        position: absolute;
        transition: .5s all;
        top: 50%;
        transform: translate(0%, -50%);
        background: url(../img/pluse_img.png) no-repeat;
        opacity: 1;
        width: 18px;
        height: 18px;
        right: 15px;
        -webkit-transform: translate(0%, -50%);
        -moz-transform: translate(0%, -50%);
        -ms-transform: translate(0%, -50%);
        -o-transform: translate(0%, -50%);
        -webkit-transition: .5s all;
        -moz-transition: .5s all;
        -ms-transition: .5s all;
        -o-transition: .5s all;
    }

    #device>li:hover {
        background-color: transparent;
    }

    #device>li:hover a.link_hover {
        color: #000;
    }

    #device>li {
        cursor: pointer;
    }

    #device>li>div>a {
        color: #000000;
        font-size: 12px;
        font-weight: 500;
        line-height: 17px;
        text-transform: uppercase;
    }

    .mobile_header_top {
        background-color: #f5cf05;
    }

    .m_header_center_acc {
        display: none;
    }

    .m_header_center_tel a,
    .m_header_center_tel:hover .inActive {
        display: none;
    }

    .m_header_center_tel:hover {
        height: inherit;
    }

    .m_header_center_tel .iconArr {
        display: none;
    }

    .m_header_center_tel .iconTel img {
        position: relative !important;
        left: inherit !important;
        top: inherit !important;
    }

    .m_header_center_tel .iconTel {
        height: 100% !important;
        width: 100% !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mob_tel_search {
        max-width: inherit;
        flex-direction: row;
    }

    .m_header_center_tel {
        height: 36px !important;
        width: 36px !important;
        display: flex;
        align-items: center;
        border: none;
        justify-content: center;
    }
}